<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PC Builder</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/pcbuilder.css" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <%- include('template/header'); -%>
        <main role="main">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1>Sign up</h1>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-text">
                                        <form id="signupForm">
                                            <div class="form-group">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    id="signupName"
                                                    placeholder="Your name"
                                                />
                                            </div>

                                            <div class="form-group">
                                                <input
                                                    type="email"
                                                    class="form-control"
                                                    id="signupEmail"
                                                    placeholder="Your e-mail"
                                                />
                                            </div>

                                            <div class="form-group">
                                                <input
                                                    type="password"
                                                    class="form-control"
                                                    id="signupPassword"
                                                    placeholder="Password"
                                                />
                                            </div>

                                            <div
                                                class="d-flex justify-content-end align-items-center"
                                            >
                                                <div
                                                    class="d-flex flex-column justify-content-center"
                                                >
                                                    <a
                                                        class="btn btn-primary"
                                                        role="button"
                                                        id="signupButton"
                                                        >Sign up</a
                                                    >
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include("template/bodyScripts") %>

        <script>
            PCBuilder.SignupPage.mount($('#signupForm'));
        </script>
    </body>
</html>
